package {{apiPackage}};

import com.badlogic.gdx.net.HttpRequestBuilder;
import com.badlogic.gdx.utils.Json;
import {{modelPackage}}.*;
import java.util.*;

public interface {{classname}} {
    {{#operations}}
    {{#operation}}
    void {{operationId}}( {{#allParams}}{{#isQueryParam}}{{dataType}} {{paramName}}, {{/isQueryParam}}{{#isPathParam}}{{dataType}} {{paramName}}, {{/isPathParam}}{{#isBodyParam}}{{dataType}} {{paramName}}, {{/isBodyParam}}{{/allParams}}Callback<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}Void{{/returnType}}> callback);
    {{/operation}}
    {{/operations}}

    interface Callback<T> {
        void onSuccess(T result);
        void onFailure(Exception e);
    }
}