package {{apiPackage}};

import {{modelPackage}}.*;
import java.util.*;

public interface {{classname}} {
    {{#operations}}
    {{#operation}}
    void {{operationId}}(
        {{#allParams}}
            {{dataType}} {{paramName}}{{#isLast}}, {{/isLast}}
        {{/allParams}},
        Callback<{{#returnType}}{{returnType}}{{/returnType}}{{^returnType}}Void{{/returnType}}> callback
    );
    {{/operation}}
    {{/operations}}

    interface Callback<T> {
        void onSuccess(T result);
        void onFailure(Exception e);
    }
}