# {{classname}}

> {{description}}

## Available Endpoints

{{#operations}}
{{#operation}}

### `{{httpMethod}} {{path}}`

**Summary**: {{summary}}

**Operation ID**: `{{operationId}}`

{{#notes}}
**Notes**:  
{{notes}}
{{/notes}}

#### Parameters

| Name | In | Type | Required | Description |
|------|----|------|----------|-------------|
{{#allParams}}
| `{{paramName}}` | `{{in}}` | `{{dataType}}` | {{#required}}✔️{{/required}}{{^required}}❌{{/required}} | {{description}} |
{{/allParams}}

#### Responses

{{#responses}}
- **{{code}}**: {{message}}
{{/responses}}

---
{{/operation}}
{{/operations}}
