package {{invokerPackage}};

import {{apiPackage}}.*;
import {{invokerPackage}}.Configuration;

{{#apiInfo.apis}}
import {{importPath}}.{{classname}}Impl;
import {{importPath}}.{{classname}};
{{/apiInfo.apis}}

public class ApiClient {
    private final Configuration config;
    private String baseUrl;
    public ApiClient(Configuration config) {
        this.config = config;
        this.baseUrl = config.getBaseUrl();
    }

{{#apiInfo.apis}}
    public {{classname}} get{{classname}}() {
    	return new {{classname}}Impl(baseUrl);
    }
{{/apiInfo.apis}}
}
