package {{invokerPackage}};

import {{apiPackage}}.*;
import {{invokerPackage}}.Configuration;

public class ApiClient {
    private final Configuration config;
    private String baseUrl;

    public ApiClient(Configuration config) {
        this.config = config;
        this.baseUrl = config.getBaseUrl();
    }

    public {{apiPackage}}.UserApi getUserApi() {
        return new {{apiPackage}}.UserApiImpl(baseUrl);
    }

    public {{apiPackage}}.BanApi getBanApi() {
        return new {{apiPackage}}.BanApiImpl(baseUrl);
    }

    public {{apiPackage}}.DynatCategoryApi getDynatCategoryApi() {
        return new {{apiPackage}}.DynatCategoryApiImpl(baseUrl);
    }

    public {{apiPackage}}.AuditEntitySnapshotApi getAuditEntitySnapshotApi() {
        return new {{apiPackage}}.AuditEntitySnapshotApiImpl(baseUrl);
    }
}
