package {{modelPackage}};

import com.badlogic.gdx.utils.Json;
import com.badlogic.gdx.utils.JsonValue;
import java.util.*;

public class {{classname}} implements Json.Serializable {
	{{#models}}
	{{#model}}
	{{#modelJson}}
	
    {{#vars}}
    private {{{dataType}}} {{{name}}};
    {{/vars}}

    public {{classname}}() {
    }

    {{#vars}}
    public {{{dataType}}} get{{#lambda.titlecase}}{{{name}}}{{/lambda.titlecase}}() {
        return {{{name}}};
    }

    public void set{{#lambda.titlecase}}{{{name}}}{{/lambda.titlecase}}({{{dataType}}} {{name}}) {
        this.{{{name}}} = {{{name}}};
    }
    {{/vars}}

    @Override
    public void write(Json json) {
        {{#vars}}
        json.write("{{name}}", {{{name}}});
        {{/vars}}
    }

    @Override
    public void read(Json json, JsonValue jsonData) {
        {{#vars}}
        {{#isArray}}
        {{name}} = json.readValue("{{baseName}}", {{containerType}}.class, {{items.dataType}}.class, jsonData);
        {{/isArray}}
        {{^isArray}}
        {{name}} = json.readValue("{{baseName}}", {{dataType}}.class, jsonData);
        {{/isArray}}
        {{/vars}}
    }

    @Override
    public String toString() {
        Json json = new Json();
        return json.toJson(this);
    }

    public static {{classname}} fromJson(String jsonString) {
        Json json = new Json();
        return json.fromJson({{classname}}.class, jsonString);
    }
	{{/modelJson}}
	{{/model}}
	{{/models}}
}