# Models

{{#models}}
## {{className}}

> {{description}}

| Property | Type | Format | Required | Default | Description |
|----------|------|--------|----------|---------|-------------|
{{#vars}}
| `{{name}}` | `{{dataType}}` | {{#format}}`{{format}}`{{/format}}{{^format}}-{{/format}} | {{#required}}✔️{{/required}}{{^required}}❌{{/required}} | {{#defaultValue}}`{{defaultValue}}`{{/defaultValue}}{{^defaultValue}}-{{/defaultValue}} | {{description}} |
{{#isEnum}}
> 🔹 Allowed values for `{{name}}`:  
> {{#_enum}}- `{{.}}`  
{{/_enum}}
{{/isEnum}}

{{/vars}}

---
{{/models}}
