package {{apiPackage}};

import com.badlogic.gdx.Net.HttpRequestBuilder;
import com.badlogic.gdx.Net.HttpRequest;
import com.badlogic.gdx.Gdx;
import com.badlogic.gdx.Net.HttpResponseListener;

public class {{classname}} {

{{#operations.operation}}
    public void {{operationId}}({{#allParams}}{{dataType}} {{paramName}}, {{/allParams}}HttpResponseListener callback) {
        HttpRequest request = new HttpRequestBuilder()
            .newRequest()
            .method("{{httpMethod}}")
            .url("/rest{{path}}")
            {{#hasBodyParam}}.header("Content-Type", "application/json").content(new com.badlogic.gdx.utils.Json().toJson({{bodyParam.paramName}})){{/hasBodyParam}}
            .build();

        Gdx.net.sendHttpRequest(request, callback);
    }
{{/operations.operation}}

}
